.container {
  margin-top: 3%;
  margin-right: 1rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/img/back3.png');
  background-size: contain;
  width: 42%;
  height: 95%;
  margin-bottom:3%; 
  border-radius: 2rem;
}
.child {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  .title {
    text-align: center;
    height: 5%;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      h1 {
        color: white;
        font-size: 2rem;
      }
    }
    hr {
      margin-block-end: 0;
      margin-block-start: 0;
    }
  }

  .chatContent {
    margin-top: 0.3rem;
    width: 100%;
    height: 85%;
  }
}

// /* Màn hình máy tính để bàn lớn */
// @media (min-width: 1200px) {
//   /* Các quy tắc CSS cho màn hình lớn */
// }

// /* Màn hình máy tính để bàn trung bình */
// @media (min-width: 992px) and (max-width: 1199px) {
//   /* Các quy tắc CSS cho màn hình trung bình */
// }

// /* Màn hình máy tính để bàn nhỏ */
// @media (min-width: 768px) and (max-width: 991px) {
//   /* Các quy tắc CSS cho màn hình nhỏ */
// }

// /* Màn hình máy tính bảng dọc */
// @media (min-width: 768px) and (max-width: 991px) {
//   /* Các quy tắc CSS cho máy tính bảng dọc */
// }

// /* Màn hình máy tính bảng ngang */
// @media (min-width: 992px) and (max-width: 1199px) {
//   /* Các quy tắc CSS cho máy tính bảng ngang */
// }

// /* Màn hình điện thoại dọc */
@media (max-width: 767px) {
  .container {
    margin-top: 3%;   
    height: 29rem;
  }
}
