.cell {
    width: 33.22%;
    height: 100%;
    border: 0.4rem solid #000;
    background-color: rgba(0, 0, 0, 0.1);
    border-image: url('../../../../../../../assets//img/back.png') 30 round;
    cursor: pointer;
    img {
      margin: 2.5%;
      width: 90%;
      height: auto;
    }
  }


  @media (max-width: 680px) or (max-width: 1034px) {
    .cell {
      img {
        margin: 5% 0 5% 15%;
        width: 70%;
      }}

  }
